<h1>Sign-Up</h1>
<%= form_for :user, url: '/signup' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %><br />
  <%= f.submit %>
<% end %>
