<%= form_for(@pond) do |f| %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :water_type, "Water Type" %><br>
  <%= f.text_field :water_type %></div>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>