<h1>Student Form</h1>
<%= form_for(@student) do |f| %>
  <%= f.label :first_name %>: <%= f.text_field :first_name %><br />
  <%= f.label :last_name %>: <%= f.number_field :last_name %><br />
  <br />
  <%= f.submit %>
<% end %>
