<h1>School Class Form</h1>
<%= form_for(@school_class) do |f| %>
  <%= f.label :title %>: <%= f.text_field :title %><br />
  <%= f.label :room_number %>: <%= f.number_field :room_number %><br />
  <br />
  <%= f.submit %>
<% end %>
