<h1>Login</h1>
<%= form_for :sessions, url: '/login' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <%= f.submit %>
<% end %>
