<h1>Create a Song</h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>
  <br />

  <%= f.submit %>
<% end %>


