<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<em>Category</em>
<ul><% @post.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>
<br />
<br />
<em>Comments</em>
<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says: <%= comment.content %></p>
<% end %>
<p>Users</p>
<ul>
<% @post.users.uniq.each do |user| %>
  <li><%= link_to user.username, user_path(user) %></li>
<% end %>
</ul>
<h3>Add a New Comment</h3>
<%= form_for(@comment = Comment.new) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %><br /><br />
  <%= f.label "Username" %>
  <%= f.collection_select :user_id, User.all, :id, :username, :include_blank => true %><br /><br />
  <%= f.label "New User:" %>
  <%= f.fields_for :user, @comment.build_user do |user| %>
    <%= user.text_field :username %>
  <% end %><br />
  <br />
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
  <%= f.submit %>
<% end %>
