<%= form_for(@frog) do |f| %>

  <div class="field"> <%= f.label :name %><br>
  <%= f.text_field :name %></div>

  <div class="field"><%= f.label :color %><br>
  <%= f.text_field :color %></div>

  <div class="field"><%= f.label :pond_id %><br>
  <%= f.collection_select :pond_id, Pond.all, :id, :name %></div>

  <br>

  <div class="actions"><%= f.submit 'Submit', :class => 'btn btn-primary' %></div>

<% end %>